.navbar {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar a {
    color: black;
    text-decoration: none;
}
.navbar a:active, .navbar a:hover {
    color: black;
    text-decoration: none;
}
.navbar__nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.navItem {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 2px;
}
.navItem .menuIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    transition: filter 300ms;
    cursor: pointer;
}
.navItem .menuIcon:hover {
    filter: brightness(1.2);
}
.navItem__iconButton {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    cursor: pointer;
}
.navItem__iconButton:hover {
    filter: brightness(1.2);
}
.navItem__iconButton span {
    margin-right: 10px;
}
.dropdownMenu {
    box-sizing: border-box;
    position: absolute;
    top: 73%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.75);
}
.dropdownMenuItem {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 500ms;
    padding: 0 10px;
}
.dropdownMenuItem .textCenter {
    text-align: center;
    margin: 0 auto;
}
.dropdownMenuItem::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 70%;
    border-bottom: 1px solid #ececec;
}
.dropdownMenuItem:last-child {
    border-bottom: none;
}
.dropdownMenuItem:hover {
    filter: brightness(0.9);
}
.dropdownMenuItem__iconRight {
    margin-left: auto;
}
